Repository arjunvegda/japanese-moji: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --quiet --fix",
    "prettier --write"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

chore(jest): wire up jest
  .eslintignore
  .eslintrc.cjs
  jest.config.ts
  package.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, prettier --write

feat: add kanji, kana and japanese validators
  __tests__/constants.ts
  __tests__/create-match-score-calculator.test.ts
  __tests__/create-strict-validator.test.ts
  __tests__/create-threshold-validator.test.ts
  __tests__/utils.ts
  __tests__/validators/japanese.test.ts
  __tests__/validators/kana.test.ts
  __tests__/validators/kanji.test.ts
  src/constants/built-ranges.ts
  src/constants/index.ts
  src/constants/raw-ranges.ts
  src/index.ts
  src/types.ts
  src/utils/create-match-score-calculator.ts
  src/utils/create-range.ts
  src/utils/create-ranges.ts
  src/utils/create-regex-groups.ts
  src/utils/create-strict-validator.ts
  src/utils/create-threshold-validator.ts
  src/utils/create-unicode.ts
  src/utils/create-unicodes.ts
  src/utils/index.ts
  src/utils/invariant.ts
  src/utils/is-valid-unicode.ts
  src/utils/make-string.ts
  src/utils/match-string.ts
  src/utils/options-to-regex.ts
  src/validators/index.ts
  src/validators/japanese.ts
  src/validators/kana.ts
  src/validators/kanji.ts
Due: eslint --quiet --fix, prettier --write

chore(ci/cd): setup GitHub workflow
  .github/workflow/main.yml
Due: prettier --write

chore(ci/cd): setup GitHub workflow
  .github/workflows/node.js.yml
Due: prettier --write

chore(workflow): rename file + test name string
  .github/workflows/lint-test.yml
Due: prettier --write

chore(workflow): run test command with coverage
  .github/workflows/lint-test.yml
Due: prettier --write

style: fix typo + remove comments
  package.json
  src/utils/invariant.ts
Due: eslint --quiet --fix, prettier --write

chore(build): setup library build
  package.json
  tsconfig.build.json
  yarn.lock
Due: prettier --write

chore(.nvmrc): add .nvmrc with node version
  .nvmrc
Due: none

chore(semantic-release): setup semantic release
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --write

chore(release): setup semantic release workflow
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.0.0-alpha.1 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5c1d9e885a1f50bd7da67b8a5ab229fbb28a5d28
Due: none

chore(release.yml): update release workflow
  .github/workflows/release.yml
Due: prettier --write

chore(deps): fix semantic-release issue
  package.json
  yarn.lock
Due: prettier --write

chore(lint-test.yml): enable dependency caching
  .github/workflows/lint-test.yml
Due: prettier --write

chore(release.yml): setup semantic release workflow
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.0-alpha.1 [skip ci]
  dist/japanese-moji.cjs
  dist/japanese-moji.modern.js
  dist/japanese-moji.module.js
  dist/japanese-moji.umd.js
  dist/types/constants/built-ranges.d.ts
  dist/types/constants/index.d.ts
  dist/types/constants/raw-ranges.d.ts
  dist/types/index.d.ts
  dist/types/types.d.ts
  dist/types/utils/create-match-score-calculator.d.ts
  dist/types/utils/create-range.d.ts
  dist/types/utils/create-ranges.d.ts
  dist/types/utils/create-regex-groups.d.ts
  dist/types/utils/create-strict-validator.d.ts
  dist/types/utils/create-threshold-validator.d.ts
  dist/types/utils/create-unicode.d.ts
  dist/types/utils/create-unicodes.d.ts
  dist/types/utils/index.d.ts
  dist/types/utils/invariant.d.ts
  dist/types/utils/is-valid-unicode.d.ts
  dist/types/utils/make-string.d.ts
  dist/types/utils/match-string.d.ts
  dist/types/utils/options-to-regex.d.ts
  dist/types/validators/index.d.ts
  dist/types/validators/japanese.d.ts
  dist/types/validators/kana.d.ts
  dist/types/validators/kanji.d.ts
  docs/CHANGELOG.md
  package.json
Due: eslint --quiet --fix, prettier --write

Notes added by 'git notes add'
  283fa5f6dd4c7b7c7dca4404052e5fd2e7a5733e
Due: none

fix: remove dist files from the code base
  .gitignore
  dist/japanese-moji.cjs
  dist/japanese-moji.modern.js
  dist/japanese-moji.module.js
  dist/japanese-moji.umd.js
  dist/types/constants/built-ranges.d.ts
  dist/types/constants/index.d.ts
  dist/types/constants/raw-ranges.d.ts
  dist/types/index.d.ts
  dist/types/types.d.ts
  dist/types/utils/create-match-score-calculator.d.ts
  dist/types/utils/create-range.d.ts
  dist/types/utils/create-ranges.d.ts
  dist/types/utils/create-regex-groups.d.ts
  dist/types/utils/create-strict-validator.d.ts
  dist/types/utils/create-threshold-validator.d.ts
  dist/types/utils/create-unicode.d.ts
  dist/types/utils/create-unicodes.d.ts
  dist/types/utils/index.d.ts
  dist/types/utils/invariant.d.ts
  dist/types/utils/is-valid-unicode.d.ts
  dist/types/utils/make-string.d.ts
  dist/types/utils/match-string.d.ts
  dist/types/utils/options-to-regex.d.ts
  dist/types/validators/index.d.ts
  dist/types/validators/japanese.d.ts
  dist/types/validators/kana.d.ts
  dist/types/validators/kanji.d.ts
Due: eslint --quiet --fix, prettier --write

chore(release): fix release workflow
  .releaserc.json
  package.json
Due: prettier --write

chore(release): 1.0.0-alpha.2 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  25ae9cf69c5da1e1ac38a42770eb5ad905fe11e4
Due: none

fix(package.json): export umd module
  package.json
Due: prettier --write

chore(release): 1.0.0-alpha.3 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3e9d488dce45055346ef5a99efb46a2c35fba4ad
Due: none

fix(create-match-score): catch NaN values
  __tests__/create-match-score-calculator.test.ts
  __tests__/create-threshold-validator.test.ts
  src/utils/create-match-score-calculator.ts
Due: eslint --quiet --fix, prettier --write

chore(release): 1.0.0-alpha.4 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e8784f63ea185cb32fadfa0d4414b113c0bd52b4
Due: none

refactor: rename ThresholdCalculator type to MatchScoreCalculator
  src/types.ts
  src/utils/create-match-score-calculator.ts
Due: eslint --quiet --fix, prettier --write

docs: add documentation for methods and usage
  README.md
  docs/logo-dark.svg
  docs/logo-light.svg
  src/types.ts
  src/utils/create-match-score-calculator.ts
  src/utils/create-strict-validator.ts
  src/utils/create-threshold-validator.ts
Due: eslint --quiet --fix, prettier --write

perf: reduce bundle size
  __tests__/create-match-score-calculator.test.ts
  __tests__/create-strict-validator.test.ts
  __tests__/create-threshold-validator.test.ts
  src/utils/create-match-score-calculator.ts
  src/utils/create-range.ts
  src/utils/create-regex-groups.ts
  src/utils/create-strict-validator.ts
  src/utils/create-threshold-validator.ts
  src/utils/create-unicode.ts
  src/utils/options-to-regex.ts
Due: eslint --quiet --fix, prettier --write

chore(release.yml): enable deps caching in release stage
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.0.0-alpha.5 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e6089207a00cbf79428bc65f63dec930b9d321f6
Due: none

chore(release.yml): enable deps caching on lint & test stage
  .github/workflows/release.yml
Due: prettier --write

feat(kana): remove roman and jamo character sets
  __tests__/constants.ts
  __tests__/validators/japanese.test.ts
  __tests__/validators/kana.test.ts
  src/constants/built-ranges.ts
  src/constants/index.ts
  src/constants/raw-ranges.ts
  src/types.ts
  src/validators/japanese.ts
  src/validators/kana.ts
Due: eslint --quiet --fix, prettier --write
