Repository arjunvegda/japanese-moji: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --quiet --fix",
    "prettier --write"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

docs: add demo links to recipes.md (#43)
  README.md
  docs/RECIPES.md
Due: prettier --write

ci: remove paths-ignore
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
Due: prettier --write

ci: remove paths-ignore (#50)
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.1.0-next.4 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  96ac95c1cbbc44988e81207e1588044706d5441d
Due: none

chore(release): 1.1.0 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5c54f735f10ff6f78e6f4471c8991026520bab03
Due: none

docs: improve caching for calls made on landing page
  website/apis.ts
  website/package.json
  website/pages/index.tsx
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: improve caching on npm and gh docs
  README.md
Due: prettier --write

docs: improve caching for calls made on landing page (#53)
  README.md
  website/apis.ts
  website/package.json
  website/pages/index.tsx
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: improve docs for npm
  README.md
Due: prettier --write

fix: improve docs for npm (#55)
  README.md
Due: prettier --write

chore(release): 1.1.1-next.1 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a5b03db46ce5ca3bf4a53107b6214d5e38763866
Due: none

ci: avoid ommiting releases
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

ci: avoid ommiting releases (#57)
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  dd7e518b59643aae125f9e5d32dd5f9a5b5f8c5a
Due: none

chore(release): 1.1.1
  docs/CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.1.1 (#58)
  docs/CHANGELOG.md
  package.json
Due: prettier --write

docs: update version in docs website
  website/apis.ts
  website/package.json
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

docs: add rounding to threshold input
  website/components/DemoCard/InputAndResult.tsx
Due: eslint --quiet --fix, prettier --write

docs: remove unused styles + increase width %
  website/styles/Home.module.css
  website/styles/common.ts
  website/styles/globals.css
  website/styles/theme.ts
Due: eslint --quiet --fix, prettier --write

docs: highlight heading when urls contains a hash
  website/components/HeadingLink/index.tsx
Due: eslint --quiet --fix, prettier --write

docs: preserve theme settings made by user
  website/pages/_app.tsx
  website/pages/_document.tsx
  website/styles/theme.ts
Due: eslint --quiet --fix, prettier --write

docs: misc website updates (#59)
  website/apis.ts
  website/components/DemoCard/InputAndResult.tsx
  website/components/HeadingLink/index.tsx
  website/package.json
  website/pages/_app.tsx
  website/pages/_document.tsx
  website/styles/Home.module.css
  website/styles/common.ts
  website/styles/globals.css
  website/styles/theme.ts
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

docs: update website to redirect to the new domain
  CONTRIBUTING.md
  README.md
  docs/RECIPES.md
Due: prettier --write

docs: update website to redirect to the new domain (#62)
  CONTRIBUTING.md
  README.md
  docs/RECIPES.md
Due: prettier --write

docs: misc quality of life improvements
  website/components/DemoCard/InputAndResult.tsx
  website/components/Header.tsx
  website/components/HeadingLink/index.tsx
  website/package.json
  website/pages/_document.tsx
  website/pages/demos.tsx
  website/styles/common.ts
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

docs: misc quality of life improvements (#63)
  website/components/DemoCard/InputAndResult.tsx
  website/components/Header.tsx
  website/components/HeadingLink/index.tsx
  website/package.json
  website/pages/_document.tsx
  website/pages/demos.tsx
  website/styles/common.ts
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

chore: release stable (#64)
  CONTRIBUTING.md
  README.md
  docs/RECIPES.md
  website/components/DemoCard/InputAndResult.tsx
  website/components/Header.tsx
  website/components/HeadingLink/index.tsx
  website/package.json
  website/pages/_document.tsx
  website/pages/demos.tsx
  website/styles/common.ts
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

docs: upgrade to react 18
  website/package.json
  website/styles/theme.ts
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

docs: add input reset functionality
  website/components/DemoCard/InputAndResult.tsx
  website/components/HeadingLink/index.tsx
Due: eslint --quiet --fix, prettier --write

docs: move InputAndResult into its own folder
  website/components/DemoCard/InputAndResult/index.tsx
Due: eslint --quiet --fix, prettier --write
