Repository arjunvegda/japanese-moji: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

chore: fix invalid release check + docs update (#32) (#33)
  .github/workflows/release.yml
  README.md
Due: prettier --write

docs(readme.md): add links + fix heading
  README.md
Due: prettier --write

docs(website): add docs website
  .eslintignore
  tsconfig.json
  website/.editorconfig
  website/.eslintrc.json
  website/.gitignore
  website/README.md
  website/components/ActiveLink.tsx
  website/components/ColorModeSwitcher.tsx
  website/components/DemoCard/Heading.tsx
  website/components/DemoCard/InputAndResult.tsx
  website/components/DemoCard/index.tsx
  website/components/DemosPageContent.tsx
  website/components/Header.tsx
  website/components/LandingPageContent.tsx
  website/components/Tag.tsx
  website/next-env.d.ts
  website/next.config.js
  website/package.json
  website/pages/_app.tsx
  website/pages/demos.tsx
  website/pages/index.tsx
  website/public/dark-logo.svg
  website/public/favicon.ico
  website/public/light-logo.svg
  website/styles/Home.module.css
  website/styles/common.ts
  website/styles/globals.css
  website/styles/theme.ts
  website/tsconfig.json
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

chore(ci/cd): skip lint and build stage for website folder
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
Due: prettier --write

docs(website): add docs website (#34)
  .eslintignore
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
  README.md
  tsconfig.json
  website/.editorconfig
  website/.eslintrc.json
  website/.gitignore
  website/README.md
  website/components/ActiveLink.tsx
  website/components/ColorModeSwitcher.tsx
  website/components/DemoCard/Heading.tsx
  website/components/DemoCard/InputAndResult.tsx
  website/components/DemoCard/index.tsx
  website/components/DemosPageContent.tsx
  website/components/Header.tsx
  website/components/LandingPageContent.tsx
  website/components/Tag.tsx
  website/next-env.d.ts
  website/next.config.js
  website/package.json
  website/pages/_app.tsx
  website/pages/demos.tsx
  website/pages/index.tsx
  website/public/dark-logo.svg
  website/public/favicon.ico
  website/public/light-logo.svg
  website/styles/Home.module.css
  website/styles/common.ts
  website/styles/globals.css
  website/styles/theme.ts
  website/tsconfig.json
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

docs(website): improve performance
  website/apis.ts
  website/pages/_app.tsx
  website/pages/index.tsx
Due: eslint --quiet --fix, prettier --write

docs(readme.md): update readme.md
  README.md
Due: prettier --write

docs(website): improve performance (#35)
  README.md
  website/apis.ts
  website/pages/_app.tsx
  website/pages/index.tsx
Due: eslint --quiet --fix, prettier --write

perf: improve regex perf. by fixing catastrophic backtracking
  src/utils/create-range.ts
  src/utils/create-regex-groups.ts
  src/utils/create-strict-validator.ts
  src/utils/create-unicode.ts
Due: eslint --quiet --fix, prettier --write

test: polish tests for kana/kanji fns
  __tests__/validators/kana.test.ts
  __tests__/validators/kanji.test.ts
Due: eslint --quiet --fix, prettier --write

feat: add full width characters
  README.md
  __tests__/constants.ts
  __tests__/utils.ts
  __tests__/validators/japanese.test.ts
  src/constants/built-ranges.ts
  src/constants/index.ts
  src/constants/raw-ranges.ts
  src/types.ts
  src/validators/japanese.ts
Due: eslint --quiet --fix, prettier --write

docs(readme.md): add link to the website containing demos
  README.md
Due: prettier --write

feat: add full width characters (#36)
  README.md
  __tests__/constants.ts
  __tests__/utils.ts
  __tests__/validators/japanese.test.ts
  __tests__/validators/kana.test.ts
  __tests__/validators/kanji.test.ts
  src/constants/built-ranges.ts
  src/constants/index.ts
  src/constants/raw-ranges.ts
  src/types.ts
  src/utils/create-range.ts
  src/utils/create-regex-groups.ts
  src/utils/create-strict-validator.ts
  src/utils/create-unicode.ts
  src/validators/japanese.ts
Due: eslint --quiet --fix, prettier --write

chore(release): 1.1.0-next.1 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a69b92247408c47a65d9c756f27d552f43e5421d
Due: none

docs: add recipes, contribution guide and TOCs
  CONTRIBUTING.md
  README.md
  docs/RECIPES.md
  docs/release-flow.gif
Due: prettier --write

chore(package.json): mark package as no side effects
  package.json
Due: prettier --write

docs(CONTRIBUTING.md): update size of release diagram
  CONTRIBUTING.md
Due: prettier --write

docs(readme.md): add types summary to TOC
  README.md
Due: prettier --write

docs(readme.md): add treeshake support badge
  README.md
Due: prettier --write

docs: add recipes, contribution guide and TOCs (#37)
  CONTRIBUTING.md
  README.md
  docs/RECIPES.md
  docs/release-flow.gif
  package.json
Due: prettier --write

docs: improve seo for docs website
  website/components/MetaTags.tsx
  website/pages/demos.tsx
  website/pages/index.tsx
  website/public/share.jpg
Due: eslint --quiet --fix, prettier --write

chore(package.json): update keywords for npmjs
  package.json
Due: prettier --write

feat: allow importing package.json
  package.json
Due: prettier --write

feat: allow importing package.json (#38)
  package.json
Due: prettier --write

chore(release): 1.1.0-next.2 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bf88780c62449a8d6b77024eea203334fed1159a
Due: none

docs: add custom recipes to the demo page
  website/.yarnrc.yml
  website/components/DemoCard/Heading.tsx
  website/components/DemoCard/index.tsx
  website/components/DemoPagesContent/CustomRecipes.tsx
  website/components/DemoPagesContent/RecipeCard.tsx
  website/components/DemoPagesContent/index.tsx
  website/components/DemoPagesContent/recipe-data.ts
  website/components/DemosPageContent.tsx
  website/components/HeadingLink/HeadingIcon.tsx
  website/components/HeadingLink/index.tsx
  website/components/HeadingLink/useHeadingLinkClipboard.ts
  website/components/LandingPageContent.tsx
  website/package.json
  website/pages/demos.tsx
  website/utils/slugify.ts
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

feat: add support for node >=12.22.0 and remove yarn from engine
  package.json
Due: prettier --write

feat: add support for node >=12.22.0 and remove yarn from engine (#40)
  package.json
Due: prettier --write

chore(release): 1.1.0-next.3 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e126f81c9ce2bfe45c9b4a8856fde1014f86ce72
Due: none

docs: upgrade japanese-moji version
  website/package.json
  website/yarn.lock
Due: prettier --write

docs: add custom recipes to the demo page (#39)
  package.json
  website/.yarnrc.yml
  website/components/DemoCard/Heading.tsx
  website/components/DemoCard/index.tsx
  website/components/DemoPagesContent/CustomRecipes.tsx
  website/components/DemoPagesContent/RecipeCard.tsx
  website/components/DemoPagesContent/index.tsx
  website/components/DemoPagesContent/recipe-data.ts
  website/components/DemosPageContent.tsx
  website/components/HeadingLink/HeadingIcon.tsx
  website/components/HeadingLink/index.tsx
  website/components/HeadingLink/useHeadingLinkClipboard.ts
  website/components/LandingPageContent.tsx
  website/components/MetaTags.tsx
  website/package.json
  website/pages/demos.tsx
  website/pages/index.tsx
  website/public/share.jpg
  website/utils/slugify.ts
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

docs: improve anchor scrolling
  website/components/HeadingLink/index.tsx
  website/styles/theme.ts
Due: eslint --quiet --fix, prettier --write

docs: make thresholds on demo page configurable
  website/components/DemoCard/InputAndResult.tsx
  website/components/DemoCard/index.tsx
  website/styles/theme.ts
Due: eslint --quiet --fix, prettier --write

docs: make thresholds on demo page configurable (#41)
  website/components/DemoCard/InputAndResult.tsx
  website/components/DemoCard/index.tsx
  website/components/HeadingLink/index.tsx
  website/styles/theme.ts
Due: eslint --quiet --fix, prettier --write

docs: add analytics to the website
  website/components/ActiveLink.tsx
  website/components/ColorModeSwitcher.tsx
  website/components/DemoCard/InputAndResult.tsx
  website/components/DemoCard/index.tsx
  website/components/DemoPagesContent/index.tsx
  website/components/Header.tsx
  website/components/LandingPageContent.tsx
  website/components/Tag.tsx
  website/next.config.js
  website/package.json
  website/pages/_app.tsx
  website/utils/analytics.ts
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

docs: add analytics to the website (#42)
  website/components/ActiveLink.tsx
  website/components/ColorModeSwitcher.tsx
  website/components/DemoCard/InputAndResult.tsx
  website/components/DemoCard/index.tsx
  website/components/DemoPagesContent/index.tsx
  website/components/Header.tsx
  website/components/LandingPageContent.tsx
  website/components/Tag.tsx
  website/next.config.js
  website/package.json
  website/pages/_app.tsx
  website/utils/analytics.ts
  website/yarn.lock
Due: eslint --quiet --fix, prettier --write

docs: add demo links to recipes.md
  README.md
  docs/RECIPES.md
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc})
